name: SAST Scan

on:
  push:
  pull_request:

jobs:
  sast:
    uses: Asterioxer/sast-ci-pipeline-implementation/.github/workflows/sast.yml@main
    secrets:
      SAST_TOKEN: ${{ secrets.SAST_TOKEN }}


 name: Enforce SAST policy
  run: |
    findings=$(jq '.results | length' sast-results.json)

    echo "Total SAST findings: $findings"

    if [ "$findings" -gt 0 ]; then
      echo "❌ SAST findings detected. Failing build."
      exit 1
    else
      echo "✅ No SAST findings detected."
    fi
